.ride-table-container {
  width: 80%;
  margin: 0 auto;
}

.ride-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.ride-table th,
.ride-table td {
  padding: 12px 15px;
  text-align: center;
}

.ride-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.ride-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ride-table tbody tr:hover {
  background-color: #e6f7ff;
}
/* .adjust{
  text-align: center;
} */
