body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contact {
    height: 100vh;
    width: 100vw;
    box-sizing: content-box;
    background: linear-gradient(to right, rgb(248, 248, 108), white);
}

.contact h2 {
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

.contact form label {
    margin-bottom: 10px;
}

.contact form input[type="text"],
.contact form input[type="number"],
.contact form input[type="email"],
.contact form select,
.contact form input[type="time"],
.contact form input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #0056b3;
}
.rideid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 150px;
    margin-top: 12px;
}
.buttonalignment{
    margin-bottom: 7px;
}

